<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.crm.mapper.SalesChanceMapper">
	
	<!-- 销售计划SalesPlan列表的方法,不带查询条件 -->
	<!-- 查询总的记录数 -->
	<select id="getTotalElements3" resultType="int">
		Select count(id)
		From sales_chances
		Where status=2
	</select>
	
	<select id="getContent3" resultType="com.atguigu.crm.entity.SalesChance">
		select * from(
			select rownum rn, id,title,cust_name,contact,contact_tel,create_date,status,created_user_id "createBy.id"
			from sales_chances 
			where status=2
			)
		<![CDATA[
			where rn >= #{firstIndex} and rn < #{endIndex}
		]]>
	</select>
	
	<!-- 带查询条件的分页 -->
	<sql id="queryCondition">
		Where status=1
		<if test="custName!=null and custName!=''">
			AND cust_name LIKE #{custName}
		</if>
		<if test="title and title!=''">
			AND title LIKE #{title}
		</if>
		<if test="contact!=null and contact!=''">
			AND contact LIKE #{contact}
		</if>
	</sql>
	
	<!-- 查询当前页面的 content -->
	<select id="getContent2" resultType="com.atguigu.crm.entity.SalesChance">
		select * from(
			select rownum rn, id,title,contact,contact_tel "contactTel",create_date "createDate",cust_name "custName"
			from sales_chances
			<include refid="queryCondition"/>
			)
		<![CDATA[
			where rn >= #{firstIndex} and rn < #{endIndex}
		]]>
	</select>

	<!-- 分页查询总的记录数 -->
	<select id="getTotalElements2" resultType="int">
		Select count(id)
		From sales_chances
		<include refid="queryCondition"/>
	</select>
	

	<update id="update">
		UPDATE sales_chances
		SET contact = #{contact}, contact_tel = #{contactTel}, cust_name = #{custName}, description = #{description}, rate = #{rate}, source = #{source}, title = #{title}
		WHERE id = #{id}
	</update>

	

	<select id="getById" resultType="com.atguigu.crm.entity.SalesChance">
		SELECT c.id, contact, contact_tel "contactTel", create_date, cust_name "custName", description, rate, source, status, title, u.name AS "createBy.name", r.name AS "createBy.role.name"
		FROM sales_chances c
		LEFT OUTER JOIN users u
		ON c.created_user_id = u.id
		LEFT OUTER JOIN roles r
		ON u.role_id = r.id
		WHERE c.id = #{id}
	</select>

	<insert id="save">
		INSERT INTO sales_chances(id, contact, contact_tel, create_date, cust_name, description, rate, source, status, title, created_user_id)
		VALUES(crm_seq.nextval, #{contact}, #{contactTel}, #{createDate}, #{custName}, #{description}, #{rate}, #{source}, #{status}, #{title}, #{createBy.id})
	</insert>

	<delete id="delete">
		Delete From sales_chances where id=#{id}
	</delete>

	<!-- 查询当前页面的 content -->
	<select id="getContent" resultType="com.atguigu.crm.entity.SalesChance">
		select * from(
			select rownum rn, id,title,contact,contact_tel "contactTel",create_date "createDate",cust_name "custName"
			from sales_chances
			where status=1
			)
		<![CDATA[
			where rn >= #{firstIndex} and rn < #{endIndex}
		]]>
		
	</select>

	<!-- 查询总的记录数 -->
	<select id="getTotalElements" resultType="int">
		Select count(id)
		From sales_chances
		Where status=1
	</select>

</mapper>